html, body {
  overflow: hidden !important;
}

.text-28 {
  font-size: 1.75rem;
}
.text-24 {
  font-size: 1.5rem;
}
.text-22 {
  font-size: 1.375rem;
}
.text-20 {
  font-size: 1.25rem;
}
.text-18 {
  font-size: 1.125rem;
}
.text-16 {
  font-size: 1rem;
}
.text-14 {
  font-size: 0.875rem;
}
.text-12 {
  font-size: 0.75rem;
}
.text-10 {
  font-size: 0.625rem;
}

$xs: 320;
$sm: 599.9px;
$md: 879.9px;
$lg: 1279.9px;
$xl: 1919.9px;

.fc-icon::before {
  vertical-align: top;
}
.fc-toolbar-title {
  font-size: 21px;
  font-weight: 400;
}
.fc-daygrid-day-top {
  height: 22px;
  justify-content: center;
}
.fc .fc-daygrid-day-number {
  font-size: 14px;
  padding: 2px;
}
.fc .fc-popover {
  z-index: 2399;
}