@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  outline: 0 !important;
}

html, body {
  overflow: hidden !important;
  font-family: Roboto;
}

// breakpoints
$xs: 320;
$sm: 599.9px;
$md: 879.9px;
$lg: 1279.9px;
$xl: 1919.9px;

// calendar
.fc-icon::before {
  vertical-align: top;
}
.fc-toolbar-title {
  font-size: 21px;
  font-weight: 400;
}
.fc-daygrid-week-number {
  height: 22px;
  line-height: 18px;
}
.fc-daygrid-day-top {
  height: 22px;
  justify-content: center;
}
.fc .fc-daygrid-day-number {
  font-size: 14px;
  padding: 2px;
}
.fc .fc-popover {
  z-index: 2399;
}

// scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #C1C1C1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; 
}